<%- include("partials/header") %> 
<%- include("partials/navbar") %>

<!-- --============ MAIN ===========--  -->
<main class="main">
    <!--=============== CONTACT US ===============-->
    <section class="about section container">

        <h2 class="breadcrumb__title">About page</h2>
        <h3 class="breadcrumb__subtitle">Home > <span>About us</span></h3>

        <div class="about__container grid">
            <img src="https://res.cloudinary.com/dgg6kudxc/image/upload/v1649962644/Tech-Ecommerce/ecommerce-gf0a3dcf8c_1920_evmci1.png" alt="" class="about__img">

            <div class="about__data">
                <h2 class="section__title about__title">
                    Who we really are &  <br> Why choose us
                </h2>
                
                <p class="about__description">
                    We have over 4000+ unbaised reviews and our customers trust product and delivery
                    service every time
                </p>
                <div class="about__details">
                    <p class="about__details-description">
                        <i class="bx bxs-check-square about__details-icon"></i>
                        We always deliver on time
                    </p>
                    
                    <p class="about__details-description">
                        <i class="bx bxs-check-square about__details-icon"></i>
                        We give you guides to protect and care for your products.
                    </p>
    
                    <p class="about__details-description">
                        <i class="bx bxs-check-square about__details-icon"></i>
                        100% Money back guaranted
                    </p>
                </div>
             

            </div>
        </div>

    </section>
</main>

<%- include("partials/footer") %> 