/*=============== DETAILS PAGE ===============*/

.details__container{
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    column-gap: 3rem;
}

/* .product__img{
    background-color: var(--container-color);
    padding: 1.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
} */

.product__image{
    position: relative;
}

.details__img{
    background-color: var(--container-color);
    padding: 1.2rem 0;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
}


/* .product__img img{
    width: 150px;
} */


.details__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}

.details__title{
    font-size: var(--h2-font-size);
    font-size: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    margin-bottom: var(--mb-1);    
}

.rating i{
    margin-right: .1rem;
}

.details__prices{
    display: flex;
    align-items: center;
    column-gap: .8rem;
    margin-bottom: var(--mb-1-5);
}

.details__price{
    font-weight: var(--font-medium);
    color: var(--title-color);
    font-size: var(--h3-font-size);
}

.description__details {
    margin-bottom: var(--mb-2);
    font-size: var(--small-font-size);
}

.description__title{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);
}

.description__details-list{
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.description__details-list__items{
    display: flex;
    column-gap: .4rem;
}

.deatil__button-group{
    display: flex;
    flex-wrap: wrap;
    row-gap: .5rem;
    column-gap: .5rem;
    justify-content: space-between;
}

.flex-item{
    flex-grow: 1;
}

.flex-item button{
    width: 100%;
    justify-content: center;
}
.deatil__button-group a{
    justify-content: center;
}
/* --=============== REVIEWS ===============-- */
.review{
    max-width: 650px;
}
.review form{
    row-gap: 1rem;
}
.review__content{
    background-color: var(--container-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.review_label{
    font-size: var(--small-font-size);
    color: var(--title-color);
}
.review__input{
    width: 100%;
    background-color: var(--container-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}



.post{
    row-gap: 1rem;
}

.show{
    background-color: var(--container-color);
    border-radius: .5rem;
    padding: 2rem;
    margin-top: 2rem;
}

.show__reviews{
    row-gap: 1.5rem;
}

.show__content > span,p{
   margin-left: .5rem;
   margin-top: .5rem;
}

.user{
    display: flex;
    align-items: center;
}

.user > i{
    font-size: var(--h1-font-size);
    margin-right: .5rem;
}


/* ================== Star Rating =========== */


@media screen and (max-width: 992px){
    
    .details__container{
        grid-template-columns: 1.1fr .9fr;

    }

    .details__title{
        margin-bottom: var(--mb-0-5);
    }
}

@media screen and (max-width: 767px){
    .details__container{
        grid-template-columns: .8fr;
        justify-content: center;
        row-gap: 2rem;
    }
}


@media screen and (max-width: 567px) {
    .details__container{
        grid-template-columns: 1fr;
    }

    .details__button{
        margin-top: .4rem;
    }
}